{% autoescape off %}

                Здравствуйте, {{ user.username }}.
        Поздравляем вас с регистрацией в нашем Интернет-магазине ;)
            Мы интернет-магазин цифровых товаров Проводка.РУ.
            Для завершения регистрации перейдите по ссылке:

            http://{{domain}}{% url 'activate' uidb64=uid token=token %}

Вы получили это письмо, так как этот e-mail адрес был указан при регистрации в Интернет-магазине Проводка.РУ. Если Вы не регистрировались, просто проигнорируйте его.



{% endautoescape %}
